---
layout: default
---

{% for tag in site.tags %}
  <h3>{{ tag[0] }}</h3>
  <ul>
    {% for post in tag[1] %}
      <li><a href="{{ post.url }}">{{ post.date | date: "%B %Y" }} - {{ post.title }}</a></li>
    {% endfor %}
  </ul>
{% endfor %}
<p>Welcome! I am Phillip, a software engineer with a background in education and technology.
<br>
<br>
I coach students aspiring to qualify for and excel in academic competitions like AIME and USACO, leveraging their progress and performance data to refine my teaching methods and technology. 
<br>
I specialize in designing and automating systems to elevate student outcomes, with a strong focus on efficiency and scalability. With experience in international collaboration, I bring a global perspective to my work.
<br>
I’m committed to continuous learning and use programming solutions to tackle challenges, ensuring my approach evolves to meet the dynamic needs of tomorrow.</p>
<div class="posts">
  {% for post in site.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
    </article>
  {% endfor %}
</div>
